.home {
    display: flex;
    box-sizing: border-box;
    .home-container {
      position: static;
      width: 100%;
      height: 100%;
      background-color: #E4E9F7;
      overflow: hidden;

      .home-top {
        display: flex;
        position: relative;

        width: 75%;
        padding: 25px;
        margin: 20px;
        margin-left: 5%;
        margin-top: 3%;
        background-color: #6c8efb;
        border-radius: 45px;
        justify-content: baseline;

        .home-info {
          margin-top: 10px;
          color: #fff;
          font-weight: 300;
          font-size: 14px;

          .home-info-items {
            width: 100%;
            margin-left: 15px;
            margin-bottom: 15px;
            font-weight: bold;
             //justify-content: space-between;
          }
        }

      }
      .home-bottom {
        .datatable-data{
            // height: 1100px;
            height: 550px;
            width: 75%;
            // padding: 40px;
            margin-left: 5%;
            margin-top: 2%;
        }


        .documentListItem{
            display: flex;
            width: 450px;
            align-items: center;
            flex-direction: column;
            padding: 20px;

        }

        .documentListEdit{
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: #3bb077;
            color: white;
            cursor: pointer;
            margin-right: 20px;

        }
        .documentListRead{
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: #f1d13f;
            color: white;
            cursor: pointer;
            margin-right: 20px;
        }
        .documentListDelete{
            color: red;
            cursor: pointer;
        }
        .read-document{
            display: flex;
            height: 96px;
            align-self: center;
        }
      }

    }
  }
